.About {
    background-color: rgba(0, 0, 10, 0.86);
    color: white;
    height: 73.6vh;
    display: flex;
    align-items: center;
    padding-top: 20vh;
    flex-direction: column;
}

.About-title {
    margin: 3vh;
    font-size: 4vh;
    display: inline-block;
}

.About-info {
    width: 70vw;
    text-align: center;
    line-height: 1.6;
    font-size: 3vh;
}

.About-footer {
    margin-top: 5vh;
    width: 70vw;
    text-align: center;
    line-height: 1.6;
    font-size: 3vh;
}