.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  margin-bottom: 40px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Track-image {
  height: 15vmin;
}

.Track-deck {
  margin-top: 10vmin;
  font-size: 25px;
}

.Track-card {
  margin-left: 10vmin;
}

.App-header {
  background-color: #212120;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.searchbar {
  size: 20px;
}

.searchbar input[type=text] {
  margin-top: 8px;
  margin-right: 16px;
  font-size: 24px;
}

#searchclick {
  font-size: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Cards {
  position: center;
  margin-left: 10vmin;
}

.Cards p:hover {
  background-color: lightgray;
}

.Cards p {
  float: left;
  position: center;
}

.Footer {
  clear: both;
}