.App {
    text-align: center;
}

.Logo {
    height: 20vh;
    width: auto;
    display: block;
}

.App-header {
    background-color: rgba(0, 0, 10, 0.83);
    min-height: 93.7vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Container-home {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10vw;
    font-size: 3vh;
    margin-left: 12vw;
    margin-right: 12vw;
}

.Container-home button {
    font-size: 3vh;
    margin-left: 3vh;
    margin-right: 3vh;
    height: 5vh;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}