body {

}

.cls-1 {
    fill:red;
}

hr {
    border-top: 1px solid black;
    border-bottom: 1px solid dimgrey;
}

.Main-play {
    background-color: rgba(0, 0, 0, 0.86);
    color: white;
    font-size: 4vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.Chart-play {
    margin: 0vh;
}

hr {
    margin: 0;
}

.Container-play div {
    background: rgba(0, 0, 10, .88);
    padding-bottom: 1vh;
    z-index: 2;
}

.Container-play h2 {
    font-size: 2.5vh;
}

.Container-play p {
    font-size: 3vh;
    padding: 0vh;
}

.Container-play div p {
    margin: 0vh;
}

@media only screen and (max-width: 1200px) {
    .Container-play {
        flex-direction: column;
        grid-template-columns: 1fr;
        grid-gap: 2vh;
        margin: 2vh;
        display: flex;
    }

    .Container-play div {
        margin-bottom: 2vh;
        padding: 5vh;
        width: auto;
        height: auto;
    }

    .Container-play div h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 2vh;
    }

    .Container-play p {
        margin: 0vh;
    }

    .Header-play {
        display: inline-block;
        justify-content: center;
        align-items: center;
        margin-top: 2vh;
    }
}

.Tooltip {
    font-size: 2.3vh;
}

@media only screen and (min-width: 1200px) {
    .Container-play {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-row-gap: 0vh;
        margin: 2vh;
        margin-left: 12vw;
        margin-right: 12vw;
        margin-bottom: 15vh;
        display: grid;
    }
    .Container-play div {
        margin-bottom: 3vh;
        padding: 5vh;
    }

    .Container-play div h2 {
        align-items: center;
        justify-content: center;
    }

    .Container-play div h2 h2 {
        padding: 0vh;
        margin: 0vh;
        margin-left: 1vw;
    }

    .Container-play div:nth-of-type(1) {
        grid-column: 1/5;
    }

    .Container-play div:nth-of-type(2) {
        grid-column: 1/3;
    }

    .Container-play div:nth-of-type(3) {
        grid-column: 3/5;
    }

    .Container-play div:nth-of-type(4) {
        grid-column: 1/3;
        grid-row: 3/5;
    }

    .Container-play div:nth-of-type(5) {
        grid-column: 3/5;
        grid-row: 3/5;
    }

    .Container-play div:nth-of-type(6) {
        grid-column: 1/3;
        grid-row: 5/7;
    }

    .Container-play div:nth-of-type(7) {
        grid-column: 3/5;
        grid-row: 5/7;
    }

    .Container-play div:nth-of-type(8) {
        grid-column: 1/3;
        grid-row: 7/9;
    }

    .Container-play div:nth-of-type(9) {
        grid-column: 3/5;
        grid-row: 7/9;
    }

    .Container-play div:nth-of-type(10) {
        grid-column: 1/5;
    }

    .Container-play div:nth-of-type(11) {
        grid-column: 1/5;
    }

    .Container-play p {
        margin-left: 3vh;
        margin-right: 3vh;
        margin-top: 1vh;
        margin-bottom: 1vh;
        padding: 0.5vmax;
        padding-top: 1vmax;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 1.4vmax;
    }

    #Detail p {
        margin-left: 3vh;
        margin-right: 3vh;
        margin-top: 1vh;
        margin-bottom: 1vh;
        display: block;
        text-align: left;
        font-size: 2.3vh;
    }

    #Detail h2 {
        display: block;
        margin-left: 2vw;
        text-align: left;
        justify-content: left;
    }
}