.Search {
  background-color: #212120;
  background-image: url(../radiohead_spectro.png);
  background-size: 100%;
}

.Search-logo {
  height: 15vh;
  pointer-events: none;
}

.Search-box {
  width: 30vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Search-header {
  background-image: url(../radiohead_spectro.png);
  background-size: 100%;
  background-color: #212120;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  min-height: 40vh;
  color: white;
  z-index: -3;
}

.Margin {
  color: white;
  font-size: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60vh;
}

.searchbar {
  size: 20px;
}

.searchbar input[type=text] {
  margin-top: 8px;
  margin-right: 16px;
  font-size: 24px;
}

#searchclick {
  font-size: 20px;
  position: center;
  display: inline-block;
  justify-content: center;
}

#buttondiv {
  margin-top: 2vh;
  position: center;
  align-items: center;
  display: inline-block;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Cards {
  position: center;
  margin-left: 5vh;
  margin-right: 5vh;
}

.Cards p:hover {
  background-color: white;
  z-index: 1;
}

.Cards p {
  display: inline-block;
  position: center;
}

.Footer {
  clear: both;
}

#Scroll-div {
  position: absolute;
  bottom: 3vh;
}