.Result-card {
    width: 40vmin;
    border: 3px solid black;
    margin-left: 1vmin;
    background-color: black;
}

.Song-title {

}

.Album-title {

}

.Artist-name {

}

.Album-art {
    height: 18vmin;
    pointer-events: none;
    margin-bottom: 0px;
}

.Song-info {
    font-size: 2vmin;
    padding-right: 0vmin;
    margin-left: 5vmin;
    text-align: center;
    width: 22vmin;
    background-color: seagreen;
}

.Song-info div {
    margin-bottom: 1vmin;
}