.Result-card {
    width: 40vh;
    border: 3px solid black;
    margin: 0.3vh;
    background-color: black;
    height: 18.5vh;
}

.Album-art {
    height: 18vh;
    pointer-events: none;
}

.Song-info {
    font-size: 1.8vh;
    padding-right: 0vh;
    margin-left: 5vh;
    text-align: center;
    width: 40vh;
    color: white;
    opacity: 1;
}

.Song-info div {
    margin-bottom: 1vh;
}

.Info-name {
    font-size: 2.7vh;
}