body {

}

hr {
    border-top: 1px solid black;
    border-bottom: 1px solid dimgrey;
}

.Main {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 4vh;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.Chart {
    margin: 0vh;
}

.Header {
    background-color: rgba(0, 0, 10, .88);
    width: auto;
    margin-top: 2vh;
    margin-bottom: 5vh;
    padding-right: 3vh;
    padding-left: 3vh;
}

.Container div {
    background: rgba(0, 0, 10, .88);
    transition: all 0.1s ease-in;
}

.Container div:hover {
    opacity: 0.98;
}

.Container h2 {
    font-size: 2.5vh;
}

.Container p {
    font-size: 3vh;
}

@media only screen and (max-width: 1200px) {
    .Container {
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
        grid-gap: 2vh;
        margin: 2vh;
    }

    .Container div {
        margin-bottom: 2vh;
        width: auto;
        height: auto;
    }

    .Container div h2 {
        display: flex;
        align-items: center;
        justify-content: left;
        margin-left: 2vh;
    }

    .Container p {
        margin: 0vh;
    }

    #Song-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Header {
        display: inline-block;
        justify-content: center;
        align-items: center;
        margin: 3vh;
    }
}

@media only screen and (min-width: 1200px) {
    .Container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 2vh;
        margin: 2vh;
        margin-left: 12vw;
        margin-right: 12vw;
        margin-bottom: 10vh;
    }

    .Container div {
        height: auto;
    }

    .Container div h2 {
        display: flex;
        align-items: center;
        justify-content: left;
        margin-left: 2vh;
    }

    .Container div:nth-of-type(1) {
        grid-column: 1/3;
        grid-row: 1/3;
    }

    .Container div:nth-of-type(2) {
        grid-row: 1/3;
    }

    .Container p {
        margin: 4vh;
        display: block;
        text-align: left;
        font-size: 2.7vh;
    }

    .Header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15vh;
    }

    #Song-card {
        transform: scale(0.7);
        margin: 4vh;
    }
}